<h1><%= @flat['name'] %> </h1>

<p><%= @flat['price'] %> <strong><%= @flat['priceCurrency'] %></strong> </p>

<%= link_to "Back to list of flats", root_path  %>

<img src="<%= @flat['imageUrl'] %>" alt="image-of-the-flat">

